* { 
  margin: 0;
  padding: 0; 
}

body{
  user-select: none; /*文字選択不可化*/
  background-color: #ffe2c6;
}

a{
  text-decoration: none; /*リンク下線無効化*/
}

p{
  margin: 3px 0;
  color: dimgray;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.title{
  text-align: center;
  margin: 30px 0 50px 0;
  font-size: 30px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  background-color: orange;
  color: whitesmoke;
}

.site_contents{
  margin: 0 5% 60px 5%;
  text-align: center;
}

.site_title{
  font-size: 30px;
}

.image{
  cursor: pointer;
  max-width: 500px;
  max-height: 235px;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin: auto;
  border-radius: 10px;
}

.image img{
  width: 100%;
  height: 100%;
  transition: transform .6s ease; 
}

.image img:hover {
  transform:scale(1.1);
}

.introduction{
  margin-top: 10px;
}

.button{
  margin-top: 20px;
  padding: 10px 50px;
  font-size: 16px;
  color: #fff;
  background-color: #eb6100;
  border-radius: 50px;
  border: none
}

.button:hover{
  color: #fff;
  background: #f56500;
  border-radius: 50px;
}
